body {
    font-family: sans-serif;
    background-color: turquoise;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .grid-container {
    width: 80%;
    margin: 0 auto;
    display: grid;
    padding: 10px;
  }

  .grid-item {
    text-align: center;
  }